/**
  ------------- COLORS -------------
 */


/* -- MAIN COLORS -- */

$globalWhite: #FFFFFF;
$globalBlack: #000;
$screenBg: #EDF7FA;

// Text

$mainTextColor: #21243D;

// Button

$buttonColor: #FF6464;

/**
  ------------- FONTS -------------
 */


/* -- FAMILIES -- */

$mainFont: 'Heebo', sans-serif;

/* -- WEIGHTS -- */

$Bold: 700;
$Medium: 500;
$Regular: 400;

